*{
	margin: 0px;
	padding: 0px;
	/* list-style:none;*/
	text-decoration: none;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto'sans-serif;
}
.main{
	width:100px;
}
.main-header{
	width: 100%;
	background-color: white;
	box-shadow: 0px 1px 5px 0px gray;
}
.header{
	width: 100%;
	border: 0px solid red;
	padding: 15px 52px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
}
.menu ul{
	display: flex;
	list-style: none;
}
.icons{
	display: flex;
}
.logo img{
	width: 55px;
}
.menu ul li{
	text-transform: uppercase;
	font-weight: bold;
	padding: 15px 28px;
}
.menu ul li{
	color: black;
}
.menu ul li{
	color: red;
}